
@font-face {
    font-family: "Young Serif";
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: "Outfit" ;
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
}

.recipe {
    max-width: 480px;
    min-width: 320px;
    border-radius: 13px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-image {
    width: 90%;
    height: 180px;
    align-self: center;
    margin-top: 5%;
}

.hero-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.recipe > * {
    margin-bottom: 20px;
  }

.recipe > :not(:first-child){
    width: 90%;
    align-self: center;
}

h1, h2{
    font-family: "Young Serif", "serif";
    margin-bottom: 10px;
}

.preparation-time{
    background-color:hsl(330, 100%, 98%) ;
    padding: 20px;
    font-size: clamp(.7rem,1vmin,1rem);
}

hr{
    border: none;
    background-color:  hsl(30, 54%, 90%);
    height: .5px;
}


h1{
    font-size: clamp(.8rem,4vmin,1.5rem);
    color: hsl(24, 5%, 18%);
}

h2{
    font-size: clamp(.8rem,2vmin,1.2rem);
    color: hsl(14, 45%, 36%);
}

h3{
    font-family: "Outfit", "serif";
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

.recipe-info p{
    color:  hsl(30, 10%, 34%);
}

ol,ul{
    list-style: none;
}

.preparation-time ul li span{
    font-weight: 500;
}

.instructions ol li span{
    font-weight: 500;
}

.preparation-time ul li .marker-circle{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

.ingredients ul li .marker-circle,
.instructions ol li .marker-num{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}


p, li{
    line-height: 1.4;
    font-size: clamp(0.6rem,1vmin,2rem);
    font-family: "Outfit", "serif";
    font-weight: 200;
}

ol li, ul li{
    display: flex;
    gap: 10px;
    margin-left: 5px;
    color:  hsl(30, 10%, 34%);
}

.nutrition p{
    margin-bottom: 10px;
    color:  hsl(30, 10%, 34%);
}

.nutrition table{
    width: 100%; 
}

.nutrition tbody th, 
.nutrition tbody td {
    width: 50%;
    font-family: "Outfit", "serif";
    text-align: left;
    font-size: clamp(0.6rem,1vmin,2rem);
    border-bottom: .1px solid hsl(30, 54%, 90%);
    padding: 5px;
}

.nutrition tbody th{
    color: hsl(30, 10%, 34%);
    font-weight: 300;
}

.nutrition tbody th{
    text-indent: 15px;
}

.nutrition tbody td{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}


@media (max-width: 600px) {

    .recipe{
        flex-grow: 1;
    }

   .recipe,
   .hero-image,
   .hero-image img {
    min-width: 100vw;
    margin: 0;
    border-radius: 0;
   }

   .hero-image  {
    max-height: 50vmin;
    margin-bottom: 20px;
   }

   .recipe-info p{
    display: inline;
   }

    
}
